app:
  name: abcp
  type: docker
  host: 127.0.0.1
  port: 1210
  startPort: 30000
  salt: MTQ1NzczNDIz    # 哈希加密时用到的盐，可不填
options:
  # 只需要写到目录级别
  logFilePath: ./logs

db:
  mongo:
    address: 
    port: 
    username: 
    password: 
    authSource: 
  redis:
    address: 
    port: 
    password:
    db: 
  
docker:
  hub:
    host: 
    username: 
    password: 